@page "/"

<div class="col-6">
    <h1>File Upload in Blazor</h1>
    <div class="form-group">
        <InputFile OnChange="OnInputFileChange" multiple />
        <button class="btn btn btn-success" type="button"
            @onclick="UploadFiles">Upload</button>
            <br />
    </div>
    <br />
    <label>@labelText</label>
    <br />
</div>

@code{
    IReadOnlyList<IBrowserFile> selectedFiles;

    private string labelText = "No files uploaded yet.";

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = new List<IBrowserFile>();
        selectedFiles = e.GetMultipleFiles();
    }

    private async Task UploadFiles()
    {
        
    }
}